body{
    margin: 0px;
    background-color: #9C19E0;
}

.navbar{
    background-color: #170055;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.brand{
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Cedarville Cursive', cursive;

}
img{
    width: 30px;
    height: 30px;
}
.nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}

.club-theme{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 20px;
}

.home:hover,.about:hover,.support:hover{
    text-shadow: 0 0 5px #FF5DA2;
}

#opening-theme{
    width: 40%;
    display: inline-block;
    font-size: 300%;
    color: white;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder ;
}

#brandtheme{
    background-color: #FF5DA2;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    transform: scale(1,1);
    box-shadow: 0 0 5px #170055;
    transition: all 1s  ease-in-out ;
}
#brandtheme:hover{
    box-shadow: 0 0 30px #170055;
    
}

.footer{
    height: 130px;
    
    bottom: 0px;
    background-color: white;
}
.contact{
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-evenly;
    margin: auto;
    padding: 20px;

}

.author, .copyright{
    text-align: center;
    width: 300px;
    font-size: 20px;
    font-weight: bolder;
    margin: auto;
    color: #170055;
    font-family: 'Montserrat Alternates', sans-serif;
}